name: Deploy Node to AWS

on:
  push:
    branches:
        - main
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            # - name: Configure AWS credentials
            #   uses: aws-actions/configure-aws-credentials@v1
            #   with:
            #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            #     aws-region: us-east-1
            - name: Deploy via SSH
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.SSH_HOST }}
                username: ubuntu
                key: ${{ secrets.SSH_KEY }}
                script: |
                  cd /home/ubuntu/node-js-application-deploy-github-actions
                  git pull
                  docker-compose down
                  docker-compose up -d --build
